{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row justify-content-center"> <!-- Center the content horizontally -->
        <div class="col-md-6"> <!-- Define the column width, adjust as needed -->
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="single-input-item single-item-button">
                    <button type='submit' class="btn btn btn-dark btn-hover-primary rounded-0">O'zgarishlarni saqlash</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content%}