<div class="row shop_wrapper grid_3">
    <h4 style="color: grey; ">{{error}}</h4>

    <!-- Single Product Start -->
    <div class="row shop_wrapper grid_3">
        {% for product in products %}

       
        <!-- Single Product Start -->
        <div class="col-lg-4 col-md-4 col-sm-6 product" data-aos="fade-up" data-aos-delay="200">
            <div class="product-inner">
                <div class="thumb">
                    <a href="{% url 'single_product' product.slug %}" class="image">
                        <img class="first-image" src="{{ product.photo1.url}}" alt="Product" />
                        <img class="second-image" src="{{ product.photo2.url}}" alt="Product" />
                    </a>
                    {% if product.sale == True %}
                    <span class="badges">
                    <span class="sale">Aksiya</span>
                    </span>
                    {% endif %}
                    <div class="actions">
                        <a href="{% url 'wishlist' %}" title="Wishlist" class="action wishlist"><i class="pe-7s-like"></i></a>
                        <a href="#" title="Quickview" class="action quickview" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><i class="pe-7s-search"></i></a>
                        <a href="compare.html" title="Compare" class="action compare"><i class="pe-7s-shuffle"></i></a>
                    </div>
                </div>
                <div class="content">
                    <h4 class="sub-title"><a href="$">{{ product.category }}</a></h4>
                    <h5 class="title"><a href="{% url 'single_product' product.slug %}">{{ product.name }}</a></h5>
                    <span class="ratings">
                        <span class="rating-wrap">
                            <span class="star" style="width: {{ product.rating }}%"></span>
                        </span>
                        <span class="rating-num">(5)</span>
                    </span>
                    <p>salom</p>
                    <span class="price">
                        {% if product.sale == True %}
                            <span class="new">{{ product.price }} So'm</span>
                            <span class="old">{{ product.double_price }} So'm</span>
                        {% else %}
                            <span class="new">{{ product.price }} So'm</span>
                        {% endif %}
                    </span>
                    <div class="shop-list-btn">
                        <a title="Wishlist" href="" class="btn btn-sm btn-outline-dark btn-hover-primary wishlist"><i class="fa fa-heart">dwadaw</i></a>
                        <button class="btn btn-sm btn-outline-dark btn-hover-primary" value="{{ product.id }}" id="savat">
                            <i class="pe-7s-shopbag"></i> Savatchaga qo'shish
                        </button>
                        <a title="Compare" href="#" class="btn btn-sm btn-outline-dark btn-hover-primary compare"><i class="fa fa-random">adawdaw</i>sasa</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Single Product End -->
        {% endfor %}
    </div>
    <div class="shop_toolbar_wrapper mt-10">

        <!-- Shop Top Bar Left start -->
        <div class="shop-top-bar-left">
            <div class="shop-short-by mr-4">
                <select class="nice-select rounded-0" aria-label=".form-select-sm example">
                    <option selected>Show 12 Per Page</option>
                    <option value="1">Show 12 Per Page</option>
                    <option value="2">Show 24 Per Page</option>
                    <option value="3">Show 15 Per Page</option>
                    <option value="3">Show 30 Per Page</option>
                </select>
            </div>
        </div>
        <!-- Shop Top Bar Left end -->

        <!-- Shopt Top Bar Right Start -->
        <div class="shop-top-bar-right">
            <nav>
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Shopt Top Bar Right End -->

    </div>
    <!--shop toolbar end-->

</div>
    
    <!-- Single Product End -->

    

</div>
<!-- Shop Wrapper End -->